{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<section >
    <div class="text-center container py-5">

  
      <div class="row">
      {% for product in product_list %}



        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="{{product.avatar.url}}"
                class="w-100" />
              <a href="{% url 'productdetail' product.id %}">
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="{% url 'productdetail' product.id %}" class="text-reset">
                <h5 class="card-title mb-3">{{product.name}}</h5>
              </a>
              <a href="{% url 'categorydetail' product.category.id %}" class="text-reset">
                <p>{{product.category}}</p>
              </a>
              <h6 class="mb-3">{{product.price}}</h6>
            </div>
          </div>
        </div>
        {%endfor%}
  


        
     
  
  
      </div>
    </div>
  </section>

{% endblock %}